*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

#nav-wrapper{
    width: 20vw;
    min-height:100vh;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    display: flex;
    width: 20vw;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;

    background-color: #39375B;
}
.navigation .navigation__list{
    list-style: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.navigation .navigation__list-item a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.435);
    transition: border-bottom .2s;
}
.navigation .navigation__list-item a.active{
    content: "";
    width: 30px;
    height: 2px;
    background-color: orangered;
}


.navigation .navigation__list-item a:hover{
    color: white;
}

.container{
    overflow-y:scroll;
    /* position: absolute;
    top: 0;
    right: 0; */
    /* width: 79.2vw; */
    /* width: 100vw;
    height: 100vh; */
    flex: 1;
}

.container section{
    height: 100vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-area{
    height:100vh;
    flex:1;
    display:flex;
    flex-direction: column;
}